body {
    font-size: 15px; 
}

h1{
    font-size: 25px;
}

.bordepersonalizado {
    border-radius: 30px !important;
    border: 2px solid rgba(0, 0, 255, 0.688) ;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.549), 0px 2px 4px rgba(0, 0, 0, 0.06); 
    background-color: rgba(153, 153, 252, 0.347);
}

