body {
    font-family: "DM Sans", serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    background-color: #0033A0 !important;
    height: 60% !important;
    margin: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

*{
    font-family: "DM Sans", serif !important;
}


label::selection,
button::selection,
h2::selection,
span::selection,
a::selection,
p::selection,
input::selection,
h4::selection

{
    color: white !important;
    background-color: #0033A0 !important;
}

input, textarea
{
    font-optical-sizing: auto !important;
    font-style: normal !important;
}

.contenedor {
    background-color: #ffffff !important;
    padding: 40px 40px !important;
    border-radius: 10px !important;
    width: 100% !important;
    max-width: 700px !important;
    text-align: center !important;
    position: relative !important;
    margin: 50px !important;
}

.custom-height {
    height: 3rem;
}


h2 {
    font-size: 24px !important;
    margin-bottom: 2px !important;
    color: #333 !important;
}

#frase
{
    margin-top: 0 !important;
    margin-bottom: 2rem !important;
}

form {
    display: flex !important;
    flex-direction: column !important;
    align-items: stretch !important;
}


label {
    font-size: 14px !important;
    margin-bottom: 8px !important;
    color: #555 !important;
    text-align: left !important;
}

input {
    margin-bottom: 20px !important;
    padding: 12px !important;
    border: 1px solid #ddd !important;
    border-radius: 6px !important;
    font-size: 14px !important;
    transition: border 0.3s ease !important;
}

input:focus {
    border-color: #0033A0 !important;
    outline: none !important;
}

.fondo{
    background: url(/assets/img/blurbg1.jpg);
}


#boton1 {
    font-optical-sizing: auto !important;
    font-style: normal !important;
    padding: 10px !important;
    background-color: #0033A0 !important;
    color: white !important;
    border: none !important;
    border-radius: 6px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    margin: 10px !important;
    margin-top: 1rem !important;
}

#boton2
{
    font-optical-sizing: auto !important;
    font-style: normal !important;
    padding: 10px !important;
    border: none !important;
    border-radius: 6px !important;
    cursor: pointer !important;
    font-size: 19px !important;
    margin: 10px !important;
    background-color: transparent !important;
    
}


a
{
    text-decoration: none !important;
    color: #0033A0 !important;
    font-weight: bolder !important;
}

.bi-pc-display
{
    font-size: 30px !important;
}

#boton1:hover 
{
    transform: scale(1.2) !important;
    text-decoration: underline !important;
}

#boton2:hover
{
    transform: scale(1.2) !important;
    font-weight: bold !important;
}

.icon{
    cursor: pointer;
}

@media (max-width: 600px) {
    .container {
        padding: 20px !important;
    }
}